/* Error: expected selector.
 *   ,
 * 1 | <<<<<<< HEAD
 *   | ^
 *   '
 *   styles\sass\pages\_index.scss 1:1  @import
 *   styles\sass\main.scss 10:9         root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: expected selector.\a   \2577 \a 1 \2502  <<<<<<< HEAD\d\a   \2502  ^\a   \2575 \a   styles\\sass\\pages\\_index.scss 1:1  @import\a   styles\\sass\\main.scss 10:9         root stylesheet";
}
