/* COULEURS PRINCIPALES */
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;

/* COULEURS SECONDAIRES */
$primary-color-l10: lighten($primary-color, 5);
$secondary-color-l10: lighten($secondary-color, 5);

/* BACKGROUND */
$grey92: hsl(0, 0%, 92%);
$grey97 : hsl(0, 0%, 97%);
$pink-functioning: #f5edff;
$footer-background: hsl(0, 0%, 21%);

/* TYPOGRAPHIES */
$logo-typo : 'Shrikhand',
Arial,
Helvetica,
sans-serif;

$text-typo : roboto,
Arial,
Helvetica,
sans-serif;


/* LISTES */
$functioning_icon : ('\f3cd', '\f0ca', '\f54e')