/* COULEURS PRINCIPALES */

$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;

/* COULEURS SECONDAIRES */

$location-back: hsl(0, 0, 92);
/* BACKGROUND DIV LOCATION */


/* TYPOGRAPHIES */