@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap');

.header {
    &__logo {
        font-size: 2rem;
        font-family: $logo-typo;
        text-align: center;
    }
}

.location {
    &__input {
        font-family: $text-typo;
        font-size: 0.85em;
        font-weight: 500;
        color: #353535;

        &::placeholder {
            font-family: $text-typo;
            font-weight: 500;
            color: #353535;
        }
    }
}

.explore {
    text-align: center;

    &__heading {
        font-family: $text-typo;
        font-size: 1.1em;
    }

    &__text {
        font-family: $text-typo;
        font-size: 0.9em;
        font-weight: 300;
    }
}