@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap');

.header__logo {
    font-size: 2rem;
    font-family: 'Shrikhand', Arial, Helvetica, sans-serif;
    text-align: center;
}