.location {
    display: flex;
    justify-content: center;
    background-color: #eaeaea;
    box-shadow: inset 0px 2px 2px darken($location-back, 11);


    &__input {
        text-align: center;
        margin: 18px 0;
        background-color: $location-back;
        border: none;
        outline: none;


    }

}

.explore {
    padding: 22px 30px 43px 30px;
    background-color: $explore-back;
    ;


    &__text {
        margin: 20px 0 30px 0;
    }


}