.header {
    position: relative;

    &__back--enabled::before {
        display: flex;
        align-items: center;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: '\f177';
        font: var(--fa-font-solid);
        position: absolute;
        left: 5%;
        top: 1.5rem;
        font-size: 1.5rem;
        color: #000000;
    }

    &__back--disabled::before {
        display: none;

    }

    &__back--enable:active::before {
        color: black;
    }

    &__back--enable:visited:before {
        color: black;
    }

    &__logo {
        @extend %resmargin;
        padding: 22px 0 11px 0;
        width: fit-content;
        margin: 0 auto;
        font-size: 2rem;
        font-family: $logo-typo;
        text-align: center;

    }

    &__logo-link {
        @extend %link;

    }

}

.location {
    display: flex;
    justify-content: center;
    background-color: #eaeaea;
    box-shadow: inset 0px 2px 2px darken($grey92, 11);

    &::before {
        display: flex;
        align-items: center;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: '\f3c5';
        font: var(--fa-font-solid);
        position: relative;
        left: 1rem;
        font-size: 1rem;

    }



    &__input {
        text-align: center;
        margin: 18px 0;
        background-color: $grey92;
        border: none;
        outline: none;
        font-family: $text-typo;
        font-size: 1em;
        font-weight: 500;
        color: #353535;
    }

    &::placeholder {
        font-family: $text-typo;
        font-weight: 500;
        color: #353535;

    }

}