.header {


    &__logo {
        @extend %resmargin;
        padding: 22px 0 11px 0;
        width: fit-content;
        margin: 0 auto;
        font-size: 2rem;
        font-family: $logo-typo;
        text-align: center;

    }

    &__logo-link {
        @extend %link;

    }

}